[data-set]{
    cursor:pointer;
}

[data-quality='bad'] {
    opacity:0.1 !important;
}

[data-state='1'] {
    background-color: #61ef59 !important;
}

[data-state='2'] {
    background-color: #efeb52 !important;
}

[data-state='3'] {
    background-color: #ef7947 !important;
}

rect[data-state='1'],
circle[data-state='1'] {
    fill: #61ef59 !important;
}

rect[data-state='2'],
circle[data-state='2'] {
    fill: #efeb52 !important;
}

rect[data-state='3'],
circle[data-state='3'] {
    fill: #ef7947 !important;
}

.hmiValue rect {
    fill: darkgrey;
    stroke: steelblue;
    stroke-width: 1px;
}
.hmiLamp{
    fill: #2E2E2E;
    stroke: darkgrey;
    stroke-width: 3px;
}

.hmiLampGR {
    fill: lime !important;
}
.hmiLampGR[data-value="1"]{
    fill: red !important;
}

.hmiLampRG {
    fill: red !important;
}
.hmiLampRG[data-value="1"]{
    fill: lime !important;
}

.hmiLampG {
    fill: darkgrey !important;
}
.hmiLampG[data-value="1"]{
    fill: lime !important;
}

.hmiLampR {
    fill: darkgrey !important;
}
.hmiLampR[data-value="1"]{
    fill: red !important;
}

.hmiLampSH {
    visibility: visible !important;
}
.hmiLampSH[data-value="1"] {
    visibility: hidden !important;
}

.hmiLampHS {
    visibility: hidden !important;
}
.hmiLampHS[data-value="1"] {
    visibility: visible !important;
}


.hmiValve[data-value='0']{
    fill: White !important;
    stroke: #c0c0c0 !important;
}
.hmiValve[data-value='1']{
    fill: #7aef58 !important;
    stroke: #c0c0c0 !important;
}
.hmiValve[data-value='2']{
    fill: #ef7947 !important;
    stroke: #c0c0c0 !important;
}
.hmiValve[data-value='3']{
    fill: #000000 !important;
    stroke:#c0c0c0 !important;
}

.hmiPump {
    fill: darkgrey !important;
    stroke-width: 3px;
    stroke:#c0c0c0 !important;
}
.hmiPump[data-value="1"]{
    fill: #7aef58 !important;
}
.hmiPump[data-value="2"]{
    fill: #ef7947 !important;
}

.hmiControl {
    visibility: hidden;
    opacity:0;
    transition:visibility 0s linear 0.7s,opacity 0.5s linear 0.2s;
}
.hmiMnemo:hover > .hmiControl {
    visibility: visible;
    opacity:1;
    transition:visibility 0s,opacity 0.1s linear;
}

.hmiButton {
    fill: url(#hmiBtnGrad);
    stroke: #7f7f7f;
    stroke-width: 1px;
}
.hmiLine {
    stroke: url(#hmiLineGrad);

    stroke-width: 18px;
    stroke-linecap: round;
}

rect,circle {
    stroke:#ffffff;
    fill:none;
}

.hmiWaterPipe {
    fill:none;
    stroke: #00770e;
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-linejoin: round;
}